body, html {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  height: 100%;
  width: 100%;
  overflow: auto;
}
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.woff') format('woff'),
  url('Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
   /*background-color: white;*/
    background-image: url("../assets/1x/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
    font:500 12px/1.625 "Poppins","Arial", Helvetica, Muli, sans-serif;
  }

 






.toolDiv{
z-index: 1;
}
.CanvasContainer{
  /*width: 100%;
  height: 100%;*/
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

.baseimg, .Fimg, .Simg{
    width: auto;
    height: 8vh;
    margin-left: 4vh;
    margin-top: 1vh;
}
.base{
  background-color: rgba(255, 255, 255, 0.7);
 /* width: 70%;
  margin-left: 15%;*/
  border-radius: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: 1px solid black;
}
.btnsP{
  background-image: url(../assets/bgdiv.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 12vh;
}
.btnsL{
  text-align: center;
  top: 0;
  left: 5px;
  background-color: rgba(255, 255, 255, 1);
  width: 7vw;
  position: absolute;
  border-radius: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: auto;
  overflow-x: hidden;
  margin-left: 7vw;
}

.BT img{
  max-height: 5vh;
  width: auto;
}
p{
  margin: 0;
  font-size: 1.3vh;
  font-weight: bold;
  background-color: white;
}

.colorsP{
  width: 2564px;
  margin-left: 20%;
  margin-top: 1%;
  display: inline-block;
}
.bts{
  width: 48px;
  display: none;
  position: absolute;
  top: 2px;
  left: 200px;
  cursor: pointer;
}
img{
  width: 100%;
  height: auto;
}

#cadre{
  pointer-events: none;
  position: absolute;
  top:0;
  left:0;
  height: auto;
  opacity: 1;
}

.activeBt p{
 color: brown;
}.inActiveBt p{
  color: black;
}
.logoDiv img{
  max-height: 14vh;
  width: auto;
}
.logoDiv{
  position: absolute;
    left: 50%;
    top: 0%;
    width: auto;
    transform: translate(-50%, 0%);
}
@media (orientation: portrait) {
.gameDiv{
  margin-top: 16vh;
}
.toolDiv{
  margin-top: 2%;
}
.BT{
  cursor: pointer;
  width: 20%;
  height: 8vh;
  margin-top: 2vh;
}
.topTool{
  display: inline-flex;
  position: relative;
}
}
.btnsL{
  display: none;
}
.btnsP{
  display: flex;
}
.baseimg{
  margin-left: 80px;
}
.base{
 /* width: 80%;
  margin-left: 10%;*/
  height: 10vh;
}
.arrow{
  width: 70%;
  height: 70%;
  margin-left: 5%;
  margin-top: 15%;
}

@media (orientation: landscape) {
  .gameDiv{
    margin-top: 16vh;
  }
  .toolDiv{
    margin-top: 2%;
  }
  .BT {
    cursor: pointer;
    width: 80%;
    height: auto;
    margin-left: 10%;
}
  .btnsL{
    display: block;
  }
  .btnsP{
    display: none;
  }
  .baseimg{
    margin-left: 8vh;
  }
  .base{
    height: 12vh;
  }
  .arrow {
    width: auto;
    height: 10vh;
    margin-left: 5%;
    margin-top: 5%;
}
.topTool{
  display: inline-flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    max-width: 30%;
}
  
  }


  .arrowDown{
    background-color: rgba(245, 222, 179,0.5);
    border-radius: 20%;
    padding: 5%;
  }
  .arrowUp{
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .c1{
    border: 2px solid white;
    margin-right: 1%;
    background-color: #FFB308;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }
  .c2{
    border: 2px solid white;
    margin-right: 1%;
    background-color: #04A9DF;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }
  .c3{
    border: 2px solid white;
    margin-right: 1%;
    background-color: #A6C60D;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }
  .c4{
    border: 2px solid white;
    margin-right: 1%;
    background-color: #F8DF11;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }
  .c5{
    border: 2px solid white;
    margin-right: 1%;
    background-color: #E5075C;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }